<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Keyblock</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>

    <script src="https://unpkg.com/vue@next"></script>

    <!-- web3.js framework -->
    <script type="text/javascript" src="./lib/web3.min.js"></script>

    <!-- browserified eth-sig-util -->
    <script type="text/javascript" src="./lib/bundles/ethSigUtil.js"></script>

    <!-- blockchain functions -->
    <script type="text/javascript" src="./lib/db.js"></script>
    <script type="text/javascript" src="./lib/blockchain.js"></script>

    <script type="text/javascript">

    </script>

</head>

<body>
    <div id="app" class="container-fluid">
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Blockchain info</h5>
                    <div class="card-body">
                        Web3 version: {{web3Version}}
                        <br/>
                        Node info: {{nodeInfo}}
                        <br/>
                        Block number: {{blockNumber}}
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Identification</h5>
                    <div class="card-body">
                        <p><button type="button" class="btn btn-primary" @click="identification">Identification</button></p>
                        <p>Identified as: {{userIdentity}}</p>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <h5 class="card-header">Authentication</h5>
                    <div class="card-body">
                        <p><button type="button" class="btn btn-primary" @click="authent(0)">Authentication eth.personal</button></p>
                        <p><button type="button" class="btn btn-primary" @click="authent(1)">Authentication EIP 712</button></p>
                        <p><button type="button" class="btn btn-primary" @click="authent(2)">Authentication eth.sign</button></p>
                        <p>Authenticated: {{userAuthent}}</p>
                        <p>Signature: {{signature}}</p>
                        <p>Recover: {{recover}}</p>
                        <p>Check signature: {{signatureCheck}}</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Claims</h5>
                    <div class="card-body">
                        <p>Smart contract address: {{contractAddress}}</p>
                        <p><button type="button" class="btn btn-primary" @click="displayClaims()">Check claims</button></p>

                        <claim v-for="claim in claims" v-bind:name="claim.name" v-bind:value="claim.value"></claim>

                    </div>
                </div>
                <br/>
                <div class="card">
                    <h5 class="card-header">Create claim</h5>
                    <div class="card-body">
                        <p>Create claim for: {{targetUser}}</p>
                        <claim-form v-for="claim in claims" :name="claim.name" @submit-claim-event="submitClaim"></claim-form>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript" src="./vue.js"></script>

</body>

</html>
